.productcard {
  display: flex;
  flex-direction: column;
  padding: 104px 102px 0 100px;
}
.productcard-titel {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 18px;
  color: #1d1f22;
}

.productcard-amount {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  color: #1d1f22;
}
